html {
	background-color:#313131;
	overflow-x:hidden;
}
div.headercover {
	background-color:rgba(0,0,0,.1);
	width:100%;
	height:100%;
}
h2.sectionh {
	text-transform:uppercase;
}
html.menuopen {
	overflow:hidden;
}
a.textlink {
	text-decoration:none;
}
a.textlink:link, a.textlink:visited  {
	color:#305030;
}
a.textlink:hover, a.textlink:active {
	color:#000000;
}

div.page {
  	-webkit-transition: all 0.3s ease;
  	-moz-transition: all 0.3s ease;
  	transition: all 0.3s ease;  
  	position:absolute;
	top:0px; left:0px; right:0px;
	text-align:center;
	width:100%;
	display:block;
	font:"proxima-nova";
	line-height:1.6em;
	font-style:normal;
	letter-spacing:1px;
}
div.page.menuopen {
	top:0px; left:-250px; right:250px;
}

div.header {
	position:relative;
	text-align:center;
	width:100%;
	top:0;
	background-repeat:no-repeat;
	background-position: center;
	background-size: auto 100%;
	display:block;
	color:#E6E6E6;
	margin:0px;
}
div.arrowdown {
	text-align:center;
	bottom:25px;
	position:absolute;
	margin:auto;
	width:100%;
}
img.arrowdownd {
	width:70px;
	height:50px;
}
img.arrowdownm {
	width:60px;
	height:35px;
}

div.pageheadtextbd {
	position:relative;
	font-size:45px;
	text-transform:uppercase;
	color:#FFFFFF;
}
div.pageheadtextsd {
	position:relative;
	left:0px; bottom:0px; top:170px;
	width:100%;
	font-size:25px;
	color:#F7F7F7;
}
div.pageheadtextbm {
	position:relative;
	font-size:40px;
	text-transform:uppercase;
	color:#FFFFFF;
}
div.pageheadtextsm {
	position:relative;
	left:0px; bottom:0px; top:100px;
	width:100%;
	font-size:20px;
	color:#F7F7F7;
}



a.accountd {
	font-size:20px;
	position:absolute;
	right:70px;
	top:26px;
	text-decoration:none;
	text-transform:uppercase;
}

a.accountm {
	font-size:16px;
	position:absolute;
	right:57px;
	top:16px;
	text-decoration:none;
	text-transform:uppercase;
}
a.accountm:link, a.accountm:visited, a.accountd:link, a.accountd:visited {
	color:#F0F0F0;
}
a.accountm:hover, a.accountm:active, a.accountd:hover, a.accountd:active {
	color:#FFFFFF;
}

div.headerm {
	height:350px;
}
div.headerd {
	height:500px;
}
img.headerlogom {
	/*width:320px;*/
	content:url("/dispersionfarms/images/minilogo.png");
	height:70px;
	display:block;
	left:10px;
	top:5px;
}
img.headerlogod {
	width:450px;
	display:block;
	left:0px;
	top:2px;
}
a.headerlogo {
	position:absolute;
	left:0px;
	top:0px;
}
a.menuiconm {
	float:right;
	position:absolute;
	display:block;
	right:20px;
	top:12px;
}
a.menuicond {
	float:right;
	position:absolute;
	display:block;
	right:30px;
	top:21px;
}

img.menuiconm {
	position:absolute;
	top:0px;
	right:0px;
	width:25px; 
	height: 25px;
	display:block;
}
img.menuicond {
	position:absolute;
	top:0px;
	right:0px;
	width:30px; 
	height: 30px;
	display:block;
}



div.bodyholder {
	position:static;
	margin:0px;
	width:100%;
	background-color:#FFFFFF;
}
div.body {
	position:relative;
	top:0px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	text-align:left;
	width:90%;
	max-width:900px;
	display:block;
	min-height:50px;
	background-color:#FFFFFF;
	color: rgba(20,20,20,.7);
}
div.social {
	position:static;
	margin:0px;
	text-align:center;
	background-color:#444444;
}
img.social {
	width:60px;
	height:60px;
	
}
div.footer {
	position:static;
	text-align:center;
	margin:0px;
	background-color:#313131;
	color:#E6E6E6;
	font:"proxima-nova";
	font-size:20px;
	text-transform:uppercase;
	letter-spacing:2px;
}
div.footerdark {
	color:#A6A6A6;
	font-size:18px;
}

div.menu {
	-webkit-transition: all 0.3s ease;
  	-moz-transition: all 0.3s ease;
	position:absolute;
	width:250px;
	right:-250px;
	height:100%;
}
div.menu.menuopen {
	right:0px;
}
a.menui {
	font-size:20px;
	display:block;
	text-decoration:none;
	margin-top:10px;
	margin-left:20px;
	margin-right:auto;
}
a.menuh {
	font-size:25px;
	display:block;
	text-decoration:none;
	margin-top:12px;
	margin-bottom:10px;
	margin-left:15px;
	margin-right:auto;
}
a.menuh:link, a.menuh:visited {
	color:#E3E2E2;
}
a.menuh:hover, a.menuh:active {
	color:#E3E2E2;
}
a.menui:link, a.menui:visited {
	color:#B0AFAF;
}
a.menui:hover, a.menui:active {
	color:#E3E2E2;
}


div.createaccountform {
	
}
div.createaccountformhidden {
	display:none;
}
div.loginform {
	
}
div.loginformhidden {
	display:none;
}
a.requestbutton {
	padding:2px;
	text-decoration:none;
	background-color:#FFFFFF;
}
a.requestbutton:link, a.requestbutton:visited {
	color:#777777;
}
a.requestbutton:hover, a.requestbutton:active {
	color:#000000;
}
div.dispaccount {
	display:inline;
}
div.dispaccounthidden {
	display:none;
}

form.form {
	
}
div.requestdivhidden {
	display:none;
}
div.requestdiv {
}
table {
	opacity:0.7;
	border:0px;
	border-collapse: collapse;
}
tr {
	height:40px;
}
td {
	padding:3px; 
	border-bottom:1px solid grey;
}
