html {
	background-color:#313131;
	overflow-x:hidden;
}
html.menuopen {
	overflow:hidden;
}
a.textlink {
	text-decoration:none;
}
a.textlink:link, a.accountm:visited  {
	color:#202020;
}
a.accountm:hover, a.accountm:active {
	color:#000000;
}

div.page {
  	-webkit-transition: all 0.3s ease;
  	-moz-transition: all 0.3s ease;
  	transition: all 0.3s ease;  
  	position:absolute;
	top:0px; left:0px; right:0px;
	text-align:center;
	width=100%;
	display:block;
	font:"proxima-nova";
	font-style:normal;
	letter-spacing:2px;
}
div.page.menuopen {
	top:0px; left:-250px; right:250px;
}

div.header {
	position:relative;
	text-align:center;
	width:100%;
	top:0;
	background-repeat:no-repeat;
	background-position: center;
	background-size: auto 100%;
	display:block;
	color:#E6E6E6;
}
div.arrowdown {
	text-align:center;
	bottom:25px;
	position:absolute;
	margin:auto;
	width:100%;
}
img.arrowdownd {
	width:70px;
	height:50px;
}
img.arrowdownm {
	width:60px;
	height:35px;
}

div.pageheadtextbd {
	position:relative;
	font-size:45px;
	text-transform:uppercase;
}
div.pageheadtextsd {
	position:relative;
	top:270px; left:0px;
	width:100%;
	font-size:25px;
}
div.pageheadtextbm {
	position:relative;
	font-size:40px;
	text-transform:uppercase;
}
div.pageheadtextsm {
	position:relative;
	top:200px; left:0px;
	width:100%;
	font-size:20px;
}



a.accountd {
	font-size:18px;
	position:absolute;
	right:70px;
	top:28px;
	text-decoration:none;
	text-transform:uppercase;
}

a.accountm {
	font-size:14px;
	position:absolute;
	right:57px;
	top:18px;
	text-decoration:none;
	text-transform:uppercase;
}
a.accountm:link, a.accountm:visited, a.accountd:link, a.accountd:visited {
	color:#F0F0F0;
}
a.accountm:hover, a.accountm:active, a.accountd:hover, a.accountd:active {
	color:#FFFFFF;
}

div.headerm {
	height:550px;
}
div.headerd {
	height:700px;
}
img.headerlogom {
	width:320px;
	display:block;
}
img.headerlogod {
	width:450px;
	display:block;
}
a.headerlogo {
	position:absolute;
	left:10px;
	top:5px;
}
a.menuiconm {
	float:right;
	position:absolute;
	display:block;
	right:20px;
	top:12px;
}
a.menuicond {
	float:right;
	position:absolute;
	display:block;
	right:30px;
	top:21px;
}

img.menuiconm {
	position:absolute;
	top:0px;
	right:0px;
	width:25px; 
	height: 25px;
	display:block;
}
img.menuicond {
	position:absolute;
	top:0px;
	right:0px;
	width:30px; 
	height: 30px;
	display:block;
}



div.bodyholder {
	position:static;
	width:100%;
	background-color:#FFFFFF;
}
div.body {
	position:static;
	top:0px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	width:100%;
	max-width:900px;
	display:block;
	min-height:300px;
	background-color:#FFFFFF;
}
div.social {
	position:static;
	top:0px;
	text-align:center;
	background-color:#444444;
}
img.social {
	width:60px;
	height:60px;
	
}
div.footer {
	position:static;
	text-align:center;
	top:0px;
	background-color:#313131;
	color:#E6E6E6;
	font:"proxima-nova";
	font-size:20px;
	text-transform:uppercase;
	letter-spacing:2px;
}
div.footerdark {
	color:#A6A6A6;
	font-size:18px;
}

div.menu {
	-webkit-transition: all 0.3s ease;
  	-moz-transition: all 0.3s ease;
	position:absolute;
	width:250px;
	right:-250px;
	height:100%;
}
div.menu.menuopen {
	right:0px;
}
a.menui {
	font-size:20px;
	display:block;
	text-decoration:none;
	margin-top:10px;
	margin-left:20px;
	margin-right:auto;
}
a.menuh {
	font-size:25px;
	display:block;
	text-decoration:none;
	margin-top:12px;
	margin-bottom:10px;
	margin-left:15px;
	margin-right:auto;
}
a.menuh:link, a.menuh:visited {
	color:#E3E2E2;
}
a.menuh:hover, a.menuh:active {
	color:#E3E2E2;
}
a.menui:link, a.menui:visited {
	color:#B0AFAF;
}
a.menui:hover, a.menui:active {
	color:#E3E2E2;
}
