html {
	background-color:#313131;
}
div.page {
	position:absolute;
	top:0px; left:0px; right:0px;
	text-align:center;
	/*
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	*/
	width=100%;
	display:block;
}
div.pushout {
	overflow-x:hidden;
	display:block;
	float:top right;
	top:0px;
	right:0px;
	text-align:left;
	width=240px;
	height=100%;
	position:fixed;
	background-color:#313131;
}
nav.pushout {
	width=100%;
	height=100%
}
nav.pushout a {
	display:block;
	padding:10px;
}
div.header {
	position:static;
	text-align:left;
	width:100%;
	top:0;
	background-image:url(../dispersionfarms/images/IMG_2231.JPG);
	background-repeat:no-repeat;
	background-position:top center;
	background-size: auto 100%;
	display:block;
}
div.header.m {
	height:700px;
}
div.header.d {
	height:800px;
}
div.topbar {
	
	text-align:right;
	width:100%;
}
div.bodyholder {
	position:static;
	width:100%;
	background-color:#FFFFFF;
}
div.body {
	position:static;
	top:0px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	width:100%;
	max-width:900px;
	display:block;
	min-height:300px;
	background-color:#FFFFFF;
}
div.social {
	position:static;
	top:0px;
	text-align:center;
	background-color:#575757;
	min-height:100px;
}
div.footer {
	position:static;
	text-align:center;
	top:0px;
	background-color:#313131;
	min-height:200px;
}
img.headerlogom {
	width:320px;
	padding:10px;
	position:relative;
	display:block;
}
img.headerlogod {
	width:450px;
	padding:10px;
	position:relative;
}
img.menuiconm {
	float:right;
	width:25px; 
	height: 25px;
	display:block;
	margin-right:20px;
	margin-top:20px;
}
img.menuicond {
	float:right;
	width:30px; 
	height: 30px;
	display:block;
	margin-right:30px;
	margin-top:30px;
}
/*
div.page {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;  
}
*/
