html {
	background-color:#313131;
	overflow-x:hidden;
}
html.menuopen {
	overflow:hidden;
}
div.page {
  	-webkit-transition: all 0.3s ease;
  	-moz-transition: all 0.3s ease;
  	transition: all 0.3s ease;  
  	position:absolute;
	top:0px; left:0px; right:0px;
	text-align:center;
	width=100%;
	display:block;
}
div.page.menuopen {
	top:0px; left:-250px; right:250px;
}

div.header {
	position:static;
	text-align:left;
	width:100%;
	top:0;
	background-image:url(../dispersionfarms/images/IMG_2231.JPG);
	background-repeat:no-repeat;
	background-position:top center;
	background-size: auto 100%;
	display:block;
}
div.headerm {
	height:700px;
}
div.headerd {
	height:800px;
}
img.headerlogom {
	width:320px;
	display:block;
}
img.headerlogod {
	width:450px;
	display:block;
}
a.headerlogo {
	position:absolute;
	left:10px;
	top:5px;
}
a.menuiconm {
	float:right;
	position:absolute;
	display:block;
	right:20px;
	top:12px;
}
a.menuicond {
	float:right;
	position:absolute;
	display:block;
	right:30px;
	top:21px;
}
img.menuiconm {
	position:relative;
	top:0px;
	right:0px;
	width:25px; 
	height: 25px;
	display:block;
}
img.menuicond {
	position:relative;
	top:0px;
	right:0px;
	width:30px; 
	height: 30px;
	display:block;
}



div.bodyholder {
	position:static;
	width:100%;
	background-color:#FFFFFF;
}
div.body {
	position:static;
	top:0px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	width:100%;
	max-width:900px;
	display:block;
	min-height:300px;
	background-color:#FFFFFF;
}
div.social {
	position:static;
	top:0px;
	text-align:center;
	background-color:#575757;
	min-height:100px;
}
div.footer {
	position:static;
	text-align:center;
	top:0px;
	background-color:#313131;
	min-height:200px;
}



div.menu {
	-webkit-transition: all 0.3s ease;
  	-moz-transition: all 0.3s ease;
	position:absolute;
	width:250px;
	right:-250px;
	height:100%;
}
div.menu.menuopen {
	right:0px;
}
nav.menu a {
	font-size:20px;
	display:block;
	padding:14px;
	text-decoration:none;
	font: sans-serif;
}
nav.menu b {
	font-size:25px;
	display:block;
	padding:5px;
	text-decoration:none;
	font: sans-serif;	
}
nav.menu a:link, a:visited {
	color:#B0AFAF;
}
nav.menu a:hover, a:active {
	color:#E3E2E2;
}
