html {
	overflow: hidden;
}
div.header {
	height:700px;
	width:100%;
	margin-top:-7px;
	margin-left:-8px;
	position:absolute;
	background-image:url(../dispersionfarms/images/IMG_2231.JPG);
	background-repeat:no-repeat;
	background-position:top center;
	background-size: auto 100%;
}
img.logoimgd {
	width:200px;
	margin-left:3px;
	margin-top:3px;
	position:absolute;
}
