html {
	background-color:#313131;
}
div.page {
	text-align:center;
	margin-top:-8px;
	margin-left:-8px;
	margin-right:-8px;
	position:relative;
}
div.header {
	text-align:left;
	height:70%;
	width:100%;
	background-image:url(../dispersionfarms/images/IMG_2231.JPG);
	background-repeat:no-repeat;
	background-position:top center;
	background-size: auto 100%;
	display:block;
}
div.menu {
	text-align:right;
	width:100%;
}
div.bodyholder {
	width:100%;
	background-color:#FFFFFF;
}
div.body {
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	width:100%;
	max-width:900px;
	display:block;
	min-height:300px;
	background-color:#FFFFFF;
}
div.social {
	text-align:center;
	background-color:#575757;
	min-height:100px;
}
div.footer {
	text-align:center;
	background-color:#313131;
	min-height:200px;
}
img.headerlogom {
	width:320px;
	padding:20px;
	position:absolute;
}
img.headerlogod {
	width:450px;
	padding:20px;
	position:absolute;
}
img.menuiconm {
	float:right;
	width:25px; 
	height: 25px;
	display:block;
	margin-right:20px;
	margin-top:20px;
}
img.menuicond {
	float:right;
	width:30px; 
	height: 30px;
	display:block;
	margin-right:30px;
	margin-top:30px;
}

div.page {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;  
}

