div.page {
	text-align:center;
}
div.header {
	text-align:left;
	height:70%;
	width:100%;
	background-image:url(../dispersionfarms/images/IMG_2231.JPG);
	background-repeat:no-repeat;
	background-position:top center;
	background-size: auto 100%;
	display:block;
}
div.body {
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	width:100%;
	max-width:900px;
	display:block;
	min-height:300px;
}
div.social {
	text-align:center;
	background-color:#575757;
	min-height:100px;
}
div.footer {
	text-align:center;
	background-color:#313131;
	min-height:200px;
}
img.headerlogom {
	width:350px;
	margin-left:7px;
	margin-top:8px;
	position:absolute;
}
img.headerlogod {
	width:500px;
	margin-left:7px;
	margin-top:8px;
	position:absolute;
}
