div.header {
	height:700px;
	width:100%;
	margin-left:0px;
	margin-top:0px;
	position:absolute;
	background-image:url(../dispersionfarms/images/IMG_2231.JPG);
	background-repeat:no-repeat;
	background-position:center;
	background-size: 100%;
}
img.logoimgd {
	width:150px;
	margin-left:0px;
	margin-top:0px;
	position:absolute;
}
img.mainimgm {
	min-width:300px;
	width:100%;
	margin-left:0px;
	margin-top:0px;
	position:absolute;
}
img.logoimgm {
	width:150px;
	margin-left:0px;
	margin-top:0px;
	position:absolute;
}

